<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Test_components.Listener"/>
    </listeners>
    <test thread-count="5" name="Submit orderTest">
        <classes>
            <class name="selenium.submit_order_Test"/>
        </classes>
    </test>
    <test thread-count="5" name="Error validation Test">
        <classes>
            <class name="selenium.Error_validation_Test"/>
        </classes>
    </test>
</suite>